node_modules/
**/node_modules/

dist/
**/dist/

.env
.env.*
!.env.example

frontend/certs/

*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

.DS_Store
Thumbs.db

.vscode/
.idea/
backend/sql/*.sql
